[Unit]
Description=Signalbox Flask App
After=network-online.target
Wants=network-online.target

[Service]
User=signalbox
WorkingDirectory=/home/signalbox/signalbox/editor
ExecStart=/usr/bin/python3 /home/signalbox/signalbox/editor/app.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
